    <script src="/js/jquery.js"></script>
    <script src="/js/createClient.js"></script>
    <script src="/js/searchClient.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>